<!DOCTYPE html>
<html>
  <head>
    <title>Nine Men's Morris</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="background-color:#c4c4c4ff">
    <%= render "base/navbar" %>
    <% flash.each do |type, message| %>
      <div class="alert <%= flash_class type %> alert-dismissable">
        <div class="d-flex justify-content-between">
          <div class="text-center pt-3">
            <p><%= message %></p>
          </div>
          <div class="pt-3">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          </div>
        </div>
      </div>
    <% end %>
    <div class="container pt-5">
       <%= yield %>
    </div>
  </body>
</html>
